<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello WebSocket</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/chat.css" rel="stylesheet"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body data-spy="scroll" data-target=".message-container">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>
<div class="container text-center">
    <div class="row">
        <div class="round hollow text-center">
            <h1 th:text="${user}"></h1>
            <ul th:if="${usersNames != null}" class="list-group">
                <li th:each="item : ${usersNames}" th:text="${item}" class="list-group-item"></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>